@font-face { font-family: Century; src: url('GOTHIC.ttf'); }
body{ 
    font-family: Century; 
    background: rgb(51,51,51); 
    color: #fff; 
    padding:20px; }

.metrow{ 
    width:auto; 
    height:auto;
} 

.metline{ 
    width:auto; 
    padding:5px; 
    height:auto; 
    display:table;
}

.tile{ 
    height:100px; 
    width:100px; 
    float:left; 
    margin:0 5px 0 0; 
    padding:2px; 
} 

.tileLarge{ 
    width:210px;
}

.metYellow{ background:#DAA520; }
.metRed{ background:#CD0000; }
.metBlue{ background:#4682B4; } 
.metGren{ background-color: #2E8B57; }

